<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>:: Portal Agrodados ::</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/app-assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../static/app-assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
  <link href="../static/app-assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
        <a href="/Home" class="simple-text logo-mini"> <div class="logo-image-small"></div></a>
        <a href="/Home" class="simple-text logo-normal"> AgroDados </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="active ">
            <a href="/Home">
              <i class="nc-icon nc-bank"></i>
              <p>Home</p>
            </a>
          </li>
          <li>
            <a href="/ConsultaListaUsuariosPortal">
              <i class="nc-icon nc-single-02"></i>
              <p>Usuário Portal</p>
            </a>
          </li>
          <li>
            <a href="/ConsultaListaDadosArquivos">
              <i class="nc-icon nc-settings-gear-65"></i>
              <p>Operacional</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:;">AgroDados</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
              <li class="nav-item btn-rotate dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <b>Admin</b>
<!--                  <p>-->
<!--                    <span class="d-lg-none d-md-block">Encerrar Sessão</span>-->
<!--                  </p>-->
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/Deslogar">Encerrar Sessão</a>
<!--                  <a class="dropdown-item" href="#">Another action</a>-->
<!--                  <a class="dropdown-item" href="#">Something else here</a>-->
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="app-content content container-fluid">
          <div class="content-wrapper">
              <div class="content-body">
                {% block content %}

                {% endblock %}

              </div>
          </div>
          <footer class="footer"style="margin-top: 835px;">
              <div class="container-fluid">
                  <nav class="pull-left">
                      <ul>Trabalho de Conclusão de Curso</ul>
                  </nav>
                  <div class="copyright pull-right">
                      &copy; <script>document.write(new Date().getFullYear())</script>&nbsp; by <a href="#">&nbsp;&nbsp;Matheus Vieira</a>
                  </div>
              </div>
          </footer>
      </div>
    </div>
  </div>
  <script src="../static/app-assets/js/core/jquery.min.js"></script>
  <script src="../static/app-assets/js/core/popper.min.js"></script>
  <script src="../static/app-assets/js/core/bootstrap.min.js"></script>
  <script src="../static/app-assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <script src="../static/app-assets/js/plugins/chartjs.min.js"></script>

  <script src="../static/app-assets/js/plugins/bootstrap-notify.js"></script>
  <script src="../static/app-assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="../static/app-assets/demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      demo.initChartsPages();
    });
  </script>
</body>

</html>
