/* draggable targets */
[data-draggable="target"]
{
	float:left;
	list-style-type:none;

	width:23%;
	height:35.5em;
	overflow-y:auto;

	margin:0 0.5em 0.5em 5em;
	padding:0.5em;

	border:2px solid #888;
	border-radius:0.3em;

	/*background:#ddd;*/
	background: rgba(242, 247, 237, 1.0);
	color:#555;

	/*font-weight: bold;
	font-style: italic;*/
}

[data-draggable="target2"]
{
	float:left;
	list-style-type:none;

	width:23%;
	height:35.5em;
	overflow-y:auto;

	margin:0 0.5em 0.5em 5em;
	padding:0.5em;

	border:2px solid #888;
	border-radius:0.3em;

	/*background:#ddd;*/
	background: rgba(242, 247, 237, 1.0);
	color:#555;

	/*font-weight: bold;
	font-style: italic;*/
}





/* drop target state*/
[data-draggable="target"][aria-dropeffect="move"]
{
	border-color:#68b;

	background:#fff;
}

[data-draggable="target2"][aria-dropeffect="move"]
{
	border-color:#68b;

	background:#fff;
}


/* drop target focus and dragover state*/
[data-draggable="target"][aria-dropeffect="move"]:focus,
[data-draggable="target"][aria-dropeffect="move"].dragover

[data-draggable="target2"][aria-dropeffect="move"]:focus,
[data-draggable="target2"][aria-dropeffect="move"].dragover
{
	outline:none;

	box-shadow:0 0 0 1px #fff, 0 0 0 3px #68b;
}

/* draggable items */
[data-draggable="item"]
{
	display:block;
	list-style-type:none;

	margin:0 0 2px 0;
	padding:0.5em 0.7em;

	border-radius:0.2em;

	line-height:1.3;
}

/* items focus state*/
[data-draggable="item"]:focus
{
	outline:none;

	box-shadow:0 0 0 2px #68b, inset 0 0 0 1px #ddd;
}

/* items grabbed state*/
[data-draggable="item"][aria-grabbed="true"]
{
	background:#8ad;
	color:#fff;
}